@use 'sass:math';

/*
  En esta capa estarán:
    1. configuraciones disponibles globalmente
    2. cambios de configuraciones
    3. colores representativos de la marca o empresa
*/

// Size breakpoints
$Breakpoints: (
	// zero
	ZR: 0,
	// mobile
	MB: 320px,
	// landscape
	LS: 576px,
	// tablet
	TB: 768px,
	// desktop
	DT: 992px,
	// extra desktop
	XD: 1280px
);
// Fontsize
$Fontsize: 14px;
// Fonts configuration
$Ratio: 1.25; // ratio
$TextsizeNormal: $Fontsize; // normal size, 16px
$TextsizeHeadingThree: $TextsizeNormal * $Ratio; // heading 3, 20px
$TextsizeHeadingTwo: $TextsizeHeadingThree * $Ratio; // heading 2, 25px
$TextsizeHeadingOne: $TextsizeHeadingTwo * $Ratio; // heading 1, 31.25px
$TextsizeSmallOne: math.div($TextsizeNormal, $Ratio); // small 1, 12.8px
$TextsizeSmallTwo: math.div($TextsizeSmallOne, $Ratio); // small 2, 8.192px
$Textsize: (
	Normal: $TextsizeNormal,
	HeadingThree: $TextsizeHeadingThree,
	HeadingTwo: $TextsizeHeadingTwo,
	HeadingOne: $TextsizeHeadingOne,
	SmallOne: $TextsizeSmallOne,
	SmallTwo: $TextsizeSmallTwo,
);
// Styles of fonts - Change for project
$Megrim: 'Megrim', cursive;
$Roboto: 'Roboto', sans-serif;
$Quicksand: 'Quicksand', sans-serif;
// Line height
$Lineheight: 1.2;
// Max width
$Maxwidth: map-get($Breakpoints, 'DT');
// Rounded size for edge and more
$Rounded: 8px;
// Size of spaced
$Spacing: (
	Z: 0,
	XXS: 8px,
	XS: 12px,
	S: 16px,
	M: 24px,
	L: 32px,
	XL: 48px,
);
// List of z-index
$Zindexs: (
	One: 1000,
	Two: 2000,
	Three: 3000,
	Four: 4000,
	Five: 5000,
);
// Colors palette Change for project
$Palette: (
	Primary: #202e3a,
	PrimaryLight: #253341,
	PrimaryDark: #15202b,
	Accent: #ffc553,
	AccentLight: #ffd686,
	AccentDark: #ec9c00,
	Warn: #bc366c,
	WarnLight: #d56d97,
	WarnDark: #83254b,
	Success: #579db3,
	SuccessLight: #89bac9,
	SuccessDark: #396f80,
	Orange: #f68169,
	OrangeLight: #f8a695,
	OrangeDark: #f24926,
	Light: #f5f5f5,
	Dark: #393939,
	Gray: #b5b5b5,
	GrayLight: #dbdbdb,
	GrayDark: #535353,
	ShadowDark: #0a1015,
);

// Navbar Height
$NavbarHeight: 55px;
// Sidenav Width
$SidenavWidth: 280px;
