@use '/src/styles/index.scss' as styles;

.blog {
	display: flex;

	&__layout {
		width: 100%;
		// width: calc(100% - styles.$SidenavWidth);
	}

	&__content {
		height: calc(100vh - styles.$NavbarHeight);
		padding: styles.Spacing(M);
	}
}
